body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  grid-template-areas:"logo navBar searchBox" 
                      "leftSide main rightSide"
                      "footer footer footer";
  grid-template-columns: 10% auto 40%;
  grid-template-rows: 200px auto 200px;
  background-color: rgb(250, 192, 84);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
